/* every page */
html {
    background-color: #DDDDDD;
    margin: 0;
    padding: 0;
    
}

body {
    background-color: #DDDDDD;
    color: #000000;

    
    font-family: Verdana,Arial,sans-serif;
    margin: 0;
    padding: 0;

}
a 
{
    color:Blue;
}

.dialog 
{
    display: none;
}

.host-standard-textbox
{
    border: 1px solid rgb(0,0,0);
    padding:3px 3px 3px 3px;
    width:200px;
}

.req
{
    color:red;
    display:inline;
    float:right;
    font-weight:bold;
    font-size:large;
}

label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }

/* /Account/LogIn/ */
#login
{
 width:100%;
 width:350px; 
 margin:0 auto;
 padding:5px 5px 5px 5px;
}

#login #login-header
{
    font-size:1.3em;
     padding:3px 3px 3px 3px;
}
#login #login-content
{
  padding:5px 5px 5px 5px;  
}
#login #login-content label
{

}
#login #login-content #login-password
{
    border: 1px solid rgb(0,0,0);
    padding:3px 3px 3px 3px;
}
#login #login-content #login-user-name
{
    border: 1px solid rgb(0,0,0);
    padding:3px 3px 3px 3px;
}


/* Layout Page (every page) */
#main-menu 
{
 width:80%;
 min-width:800px;
     max-width:800px;
 margin:0 auto;
 padding:0px 10px 0px 10px; 
 font-size:1.1em;
 height:30px;
}
#main-menu a
{
    height:26px;
    width:100px;
    float:left;
    padding-top:2px;
    padding-bottom:2px;
    text-align:center;
}
#main-menu a:link 
{
    text-decoration:none;
}
#main-menu a:hover
{
    background-color:#6eac2c;
}
#main-menu #main-menu-logout
{
   float:right;
}

/* h2 headers */
.header
{
    font-size:1.3em;
    margin: 10px 0px 0px 0px;
    padding: 3px 3px 3px 3px;
}

/*back to list buttons */
#Back
{
    margin: 10px 0px 0px 0px;
}

/*overwriting jqueryui*/
.ui-tabs-anchor 
{
    
    font-size: 75%;
}

.ui-widget-content {border: 1px solid rgb(150,150,150);
                    background: #DDD;}



/* /User/Edit + /User/Add */
#user-editor-outer
{
 width:80%;
 min-width:800px;
 max-width:800px;
 margin:0 auto;
}

#user-editor-table td
{
    width:150px;
}

/* /Form/Edit + /Form/Create */
#form-editor-outer
{
 width:80%;
 min-width:800px;
 max-width:800px;
 margin:0 auto;
}



#form-editor
{
 
 margin: 0px 0px 5px 0px;
 padding: 5px 15px 0px 5px;
}

#form-editor-question-order
{
    margin: 0px 0px 5px 0px;
    float:right;
}

#form-editor #form-title
{
    padding-bottom:5px;
}

#form-editor #form-title input
{
    font-size: 20.4px; 
    font-weight: bold;
    width:100%;
}

#form-editor #form-descrip
{
   padding-bottom:5px;
}

#form-editor #form-descrip input
{
    width:100%;
}

#form-editor #form-editor-meta-table
{
    width:100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}


#form-editor #form-editor-meta-table td
{
    padding-bottom:5px;   
    
}

#form-editor #form-list-name input
{
    width:100%;
}

#form-editor #form-key-field input
{
    width:25px;
}

#QuestionTabOuter
{
   padding:5px 0px 5px 0px;  
}                  
                    
#QuestionTabOuter .ui-tabs .ui-tabs-panel 			{display: block; border-width: 0; background: #DDD; 
									  position: relative; min-height: 200px; 
									   margin: 0px 0px 5px 0px;
                                        padding: 5px 15px 0px 5px;}
#QuestionTabOuter .ui-tabs .ui-tabs-hide 				{ display: none !important; }




#QuestionTabOuter a.mover 							{ padding: 5px 5px; position: absolute;
								      color: black; font-weight: bold; text-decoration: none; }
#QuestionTabOuter .next-tab 							{ top: 0; right: 0; -moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px; }
#QuestionTabOuter .prev-tab 							{ top: 0; left: 0; -moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px; }


#QuestionTabOuter #question-type
{
    padding-top:20px;
}

#QuestionTabOuter #question-text
{
   padding-bottom:5px;
}

#QuestionTabOuter #question-text input
{
    font-size: 20.4px; 
    border: 1px solid rgb(0,0,0);
    font-weight: bold;
    padding:3px 3px 3px 3px;
    width:100%;
}

#QuestionTabOuter #question-help-text
{
   padding-bottom:5px;
}

#QuestionTabOuter #question-help-text input
{
    border: 1px solid rgb(0,0,0);
    padding:3px 3px 3px 3px;
    width:100%;
}

#QuestionTabOuter #question-table td
{
    padding-bottom:5px;   
    width:125px
}

#QuestionTabOuter #question-field-name input
{
    border: 1px solid rgb(0,0,0);
    padding:3px 3px 3px 3px;
    width:300px;
}

#QuestionTabOuter #question-field-type input
{
    border: 1px solid rgb(0,0,0);
    padding:3px 3px 3px 3px;
    width:300px;
}


#QuestionTabOuter #option-editor
{
    margin: 5px 0px 5px 0px;
    padding: 5px 15px 0px 5px;
}

#QuestionTabOuter #option-editor-title
{
    padding-bottom:5px;
    font-weight:bold;
    font-size:20.4px;
}

#QuestionTabOuter #option-input
{
    border: 1px solid rgb(0,0,0);
    padding:3px 3px 3px 3px;
    margin:2px 2px 2px 2px;
    width:300px;
}

#option-add-button
{
    padding-bottom:15px;
}

#QuestionTabOuter #question-steps input
{
    border: 1px solid rgb(0,0,0);
    padding:3px 3px 3px 3px;
    width:20px;
}

#QuestionTabOuter #question-label-low input
{
    border: 1px solid rgb(0,0,0);
    padding:3px 3px 3px 3px;
    width:125px;
}

#QuestionTabOuter #question-label-medium input
{
    border: 1px solid rgb(0,0,0);
    padding:3px 3px 3px 3px;
    width:125px;
}

#QuestionTabOuter #question-label-high input
{
    border: 1px solid rgb(0,0,0);
    padding:3px 3px 3px 3px;
    width:125px;
}

/* /Form/Index */

#form-index-outer
{
 width:80%;
 min-width:800px;
 max-width:800px;
 margin:0 auto;
}

#form-index
{
 
 margin: 0px 0px 5px 0px;
 padding: 5px 5px 5px 5px;
}

