@model OST_Admin.Models.Form

@{
    ViewBag.Title = "Create";
 }

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
   <input type="hidden" name="CreatedBy" value="@ViewBag.CreatedBy" />
   <div id="form-editor-outer">
   <div>@Html.ActionLink("Back to List", "Index",null, new { id = "Back" })</div> 
   <div class="header ui-widget-header ui-corner-top">Create Form</div>
   
    <div id="form-editor" class="ui-corner-bottom ui-widget-content ui-widget">
        <div id="form-title">
           <input id="Name" class="text-box single-line" type="text" value="Form Name" name="Name"/>
        </div>
        <div id="form-descrip">
           <input id="Description" class="text-box single-line" type="text" value="Form Description" name="Description"/>
        </div>

         <table id="form-editor-meta-table">
            <tr>
                <td> SharePoint URL </td>
                <td>
                    <div id="form-url">
                        <input id="URL" class="text-box single-line" type="text" value="http://myserver/_vti_bin/ListData.svc" name="URL"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td> SharePoint ListName </td>
                <td>
                    <div id="form-list-name">
                        <input id="ListName" class="text-box single-line" type="text" value="" name="ListName"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td> Form Group </td>
                <td>
                    <div id="form-group">
                        <input id="Group" class="text-box single-line" type="text" value="" name="Group"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Auto Update</td>
                <td>
                    <div id="AutoUpdateButtonSet">
                        <input type="radio" id="AutoUpdate1" name="AutoUpdate" value="true" /><label for="AutoUpdate1">True</label>
                        <input type="radio" id="AutoUpdate2" name="AutoUpdate" value="false" checked="checked"/><label for="AutoUpdate2">False</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td> Key Field</td>
                <td>
                    <div id="form-key-field">
                        <input id="KeyField" class="text-box single-line" type="text" value="" name="KeyField"/>
                    </div>
                </td>
            </tr>
        </table>
    </div>

        <div id="Questions">
        </div>
       

            <input type="submit" value="Create" />

    </div>
}



@section Scripts {
<script type="text/javascript">
    $(function () {

        $("#AutoUpdateButtonSet").livequery(function () {
            $(this).buttonset();
        });
        $("input[type=submit], button").button();
        $("#Back").button();
    });
</script>
}

